# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Linux
*~

# Logs
*.log
logs/

# Byte-compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Cache files
*.egg-info/
.eggs/
*.cache
*.parquet

# Ignore all SSH keys
*.pem
*.key
*.pub
id_rsa
id_rsa.pub
id_dsa
id_dsa.pub
id_ecdsa
id_ecdsa.pub
id_ed25519
id_ed25519.pub

# Ignore all files in the .ssh directory (if included in your repo by mistake)
.ssh/

# Ignore any other specific files containing sensitive information
config/
secrets/
